variables:
  COMPOSE_PROJECT_NAME: "$CI_JOB_ID"

stages:
  - init
  - testing

before_script:
  - bash setup.sh
  - docker compose build
  - eval $(ssh-agent -s)
  - ssh-add
  - docker compose run --rm odoo odoo init

after_script:
  - docker compose down
  - git clean -dffx --exclude=odoo/htmlcov

# Serialize the build of the image
job_init:
  stage: init
  script: /bin/true

# Run the tests in parallel
job_test_eslint:
  stage: testing
  script: docker compose run --rm odoo odoo eslint
  when: on_success

job_test_ruff_check:
  stage: testing
  script: docker compose run --rm odoo odoo ruff
  when: on_success

job_test_ruff_format:
  stage: testing
  script: docker compose run --rm odoo odoo ruff-format
  when: on_success

job_test_prettier:
  stage: testing
  script: docker compose run --rm odoo odoo prettier
  when: on_success

job_test_pylint:
  stage: testing
  script: docker compose run --rm odoo odoo pylint
  when: on_success

job_test_unittest:
  stage: testing
  script:
    - docker compose run --rm odoo odoo update
    - docker compose run --rm odoo odoo test
  coverage: '/TOTAL.+?(\d+\%)/'
  when: on_success
