repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: prettier + plugin-xml
        types: [text]
        additional_dependencies:
          - "prettier@2.7.1"
          - "@prettier/plugin-xml@2.2.0"
        args:
          - --config=odoo/.prettierrc.yml
          - --plugin=@prettier/plugin-xml
          - --ignore-path=odoo/.prettierignore
        files: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.24.0
    hooks:
      - id: eslint
        verbose: true
        args:
          - --color
          - --fix
          - --config=odoo/.eslintrc.yml
          - --ignore-path=odoo/.eslintignore

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args:
          - --config=odoo/.flake8

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort
        args:
          - --settings=odoo/

  - repo: https://github.com/OCA/pylint-odoo
    rev: v9.1.3
    hooks:
      - id: pylint_odoo
        name: pylint
        args:
          - --rcfile=odoo/.pylintrc
          - --exit-zero
        verbose: true
