repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --config=odoo/.ruff.toml]
      - id: ruff-format
        args: [--config=odoo/.ruff.toml]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: prettier + plugin-xml
        types: [text]
        additional_dependencies:
          - "prettier@2.7.1"
          - "@prettier/plugin-xml@2.2.0"
        args:
          - --config=odoo/.prettierrc.yml
          - --plugin=@prettier/plugin-xml
          - --ignore-path=odoo/.prettierignore
        files: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.24.0
    hooks:
      - id: eslint
        verbose: true
        args:
          - --color
          - --fix
          - --config=odoo/.eslintrc.yml
          - --ignore-path=odoo/.eslintignore

  - repo: https://github.com/OCA/pylint-odoo
    rev: v9.1.3
    hooks:
      - id: pylint_odoo
        name: pylint
        args:
          - --rcfile=odoo/.pylintrc
          - --exit-zero
        verbose: true
