# Required for bootstrapping.
doblib>=0.5

# Odoo dependencies
Babel
chardet
cryptography
decorator
docutils
feedparser
freezegun
geoip2
gevent
greenlet
html2text
Jinja2
libsass
lxml<5.2.0 ; python_version > '3.10' and python_version < '3.12'
lxml==5.2.1; python_version >= '3.12'
Mako
MarkupSafe
mock
num2words
ofxparse
passlib
Pillow
polib
psutil
psycopg2
pydot
pyldap
pyOpenSSL
pyparsing
PyPDF2==1.26.0 ; python_version <= '3.10'
PyPDF2==2.12.1 ; python_version > '3.10'
pyserial
python-dateutil
python-stdnum
pytz
pyusb
qrcode
reportlab[pycairo]
requests
rjsmin
vobject
Werkzeug==0.16.1 ; python_version <= '3.9'
Werkzeug==2.0.2 ; python_version > '3.9'
xlrd
XlsxWriter
xlwt
zeep
