# Required for bootstrapping.
doblib>=0.5

# Odoo dependencies
Babel
chardet
cryptography
decorator
docutils
feedparser
freezegun
geoip2
gevent
greenlet
html2text
Jinja2
libsass
lxml
Mako
MarkupSafe
mock
num2words
ofxparse
passlib
Pillow
polib
psutil
psycopg2
pydot
pyldap
pyOpenSSL
pyparsing
PyPDF2==1.28.4
pyserial
python-dateutil
python-stdnum
pytz
pyusb
qrcode
reportlab[pycairo]
requests
rjsmin
vobject
Werkzeug==0.16.1
xlrd
XlsxWriter
xlwt
zeep
